<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Server Types</a></li>
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Export</a></li>
    </ul>
</div>