<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<% include header.ejs %>
<body>

<% include top-navbar.ejs %>

<div class="container-fluid">
    <div ng-view class="col-sm-6 col-sm-offset-3"></div>
</div>

<% include footer.ejs %>
<!-- /container -->
<% include bootstrap.ejs %>
</body>
