<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/sky" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Online Players</h4>
        <span class="text-muted">{{ players.length }} / 100</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/vine" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Online Nodes</h4>
        <span class="text-muted">10 / 10</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/sky" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Memory Usage</h4>
        <span class="text-muted">0GB / 128GB</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/vine" class="img-responsive"
             alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>
<h2 class="sub-header">Running Servers</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>UUID</th>
            <th>Server Type</th>
            <th>Players</th>
            <th>Node:Port</th>
            <th>Service</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="server in servers">
            <td>{{ server.uuid }}</td>
            <td>{{ server.type }}</td>
            <td>{{ server.players }}</td>
            <td>{{ server.node }}:{{ server.port }}</td>
            <td>{{ server.service }}</td>
        </tr>
        </tbody>
    </table>
</div>