<h1 class="page-header">{{ action }} Plugin</h1>

<div ng-show="hasError" class="alert alert-danger">{{ error }}</div>

<form name="editPlugin" ng-submit="save()">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" name="name" ng-pattern="/^[a-zA-Z0-9]+$/" ng-model = "newPlugin.local.name" id="inputName" maxlength="50" placeholder="Name" value="{{ newPlugin.local.name }}" required>
        <span ng-show="editPlugin.name.$error.required" class="help-block">A plugin name is required.</span>
        <span ng-show="editPlugin.name.$error.pattern" class="help-block">Name can only container letters and numbers.</span>
    </div>
    <div class="form-group">
        <label for="inputGit">Git Clone URL</label>
        <input type="text" class="form-control" name="git" ng-pattern="/((git|ssh|http(s)?)|(git@[\w\.]+))(:(//)?)([\w\.@\:/\-~]+)(\.git)(/)?/" ng-model = "newPlugin.local.git" id="inputGit" placeholder="http://example.com/example/example.git" value="{{ newPlugin.local.git }}" required>
        <span ng-show="editPlugin.git.$error.required" class="help-block">A git clone url is required.</span>
        <span ng-show="editPlugin.git.$error.pattern" class="help-block">A valid git clone url is required.</span>
    </div>
    <div class="form-group">
        <label for="inputFolder">Config Folder Name</label>
        <input type="text" class="form-control" name="folder" ng-pattern="/^[a-zA-Z0-9]+$/" ng-model = "newPlugin.local.folder" id="inputFolder" placeholder="Config Folder Name" value="{{ newPlugin.local.folder }}" required>
        <span ng-show="editPlugin.folder.$error.required" class="help-block">A plugin folder name is required.</span>
        <span ng-show="editPlugin.git.$error.pattern" class="help-block">A valid folder name is required.</span>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Config Name</th>
                <th>Config Folder Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="config in newPlugin.local.configs">
                <td>{{ config.name }}</td>
                <td>{{ config.location }}</td>
                <td><button ng-click="removeConfig(config)" type="button" class="btn btn-danger btn-xms">
                    <span class="glyphicon glyphicon glyphicon-minus"></span>
                </button></td>
            </tr>
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-xs-4">
                <input type="text" ng-pattern="/^[a-zA-Z0-9]+$/" ng-model="config.name" name="cName" id="cName" placeholder="confg 1">
                <span ng-show="editPlugin.cName.$error.pattern" class="help-block">A valid config name is required.</span>
            </div>
            <div class="col-xs-4">
                <input type="text" ng-pattern="/^[a-zA-Z0-9//]+$/" ng-model="config.location" name="cfLocation" id="cfLocation" placeholder="configs/config1">
                <span ng-show="editPlugin.cfLocation.$error.pattern" class="help-block">A valid config folder location is required.</span>
            </div>
            <div class="col-xs-4">
                <button ng-click="addConfig()" type="button" class="btn btn-success btn-xms">
                    <span class="glyphicon glyphicon glyphicon-plus"></span>
                </button>
                <span ng-show="needsConfig()" class="help-block">At least one config is required.</span>
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <button type="submit" class="btn btn-warning" ng-disabled="editPlugin.$invalid || needsConfig()">Save</button>
        <button ng-click="cancel()" type="button" class="btn btn-primary">Cancel</button>
        <button ng-hide="add" ng-click="remove()" type="button" class="btn btn-danger">Delete</button>
    </div>
</form>